html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.row.title {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 70px;
    overflow: hidden;
    white-space: nowrap;
}

.row.jobs {
    position: absolute;
    top: 22px;
    left: 10px;
    right: 10px;
    bottom: 0;
    overflow: hidden;
}

.yarn_status_col {
    z-index: 100;
}

#yarn_status {
    background-color: rgba(255, 255, 255, 0.8);
}

#yarn_applications .progress {
    height: 10px;
    margin-bottom: 2px;
}

.dataTables_wrapper > .row:first-of-type {
    margin-bottom: 20px;
}

.dataTables_wrapper label {
    color: #999;
}

.dataTables_info {
    color: #999;
    text-align: left !important;
}

.dataTables_filter {
    text-align: right !important;
}

.dataTables_refreshed {
    color: #999;
    padding-top: 9px;
    text-align: right;
    white-space: nowrap;
}

body .popover {
    max-width: none;
}

.completed {
    background-color: #ccd8ff;
}

.running {
    background-color: #82a1ff;
}

.logo {
    vertical-align: middle;
    height: 70px;
}

h1 {
    margin: 0;
    padding: 0;
}

h1 .title {
    vertical-align: middle;
    font-size: 26px;
}

/* Bootstrap overrides */
.progress-bar {
    background-color: #ccd8ff;
}

.progress-bar-info {
    background-color: #82a1ff !important;
}

.progress-bar-danger {
    background-color: #d9534f !important;
}
